js-soap-proxy-samples/basic/BasicService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions name="BasicServiceDefs"
        targetNamespace="http://demiurg.orgfree.com/js-soap-proxy-samples/"
        xmlns:tns="http://demiurg.orgfree.com/js-soap-proxy-samples/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>
        <xsd:schema elementFormDefault="qualified"
                targetNamespace="http://demiurg.orgfree.com/js-soap-proxy-samples/"
                xmlns="http://www.w3.org/2001/XMLSchema"/>
        <!-- all types in this sample already defined in http://www.w3.org/2001/XMLSchema :) -->
    </wsdl:types>

    <wsdl:message name="GiveMeStringSOAPInbound"/>
    <wsdl:message name="GiveMeStringSOAPOutbound">
        <wsdl:part name="GiveMeStringReturnValue" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="GiveMeIntegerSOAPInbound"/>
    <wsdl:message name="GiveMeIntegerSOAPOutbound">
        <wsdl:part name="GiveMeIntegerReturnValue" type="xsd:int"/>
    </wsdl:message>

    <wsdl:message name="GiveMeFloatSOAPInbound"/>
    <wsdl:message name="GiveMeFloatSOAPOutbound">
        <wsdl:part name="GiveMeFloatReturnValue" type="xsd:double"/>
    </wsdl:message>

    <wsdl:message name="GiveMeBooleanSOAPInbound"/>
    <wsdl:message name="GiveMeBooleanSOAPOutbound">
        <wsdl:part name="GiveMeBooleanReturnValue" type="xsd:boolean"/>
    </wsdl:message>

    <wsdl:message name="GiveMeDateSOAPInbound"/>
    <wsdl:message name="GiveMeDateSOAPOutbound">
        <wsdl:part name="GiveMeDateReturnValue" type="xsd:dateTime"/>
    </wsdl:message>

    <wsdl:message name="StringsAreEqualSOAPInbound">
        <wsdl:part name="FirstString" type="xsd:string"/>
        <wsdl:part name="SecondString" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="StringsAreEqualSOAPOutbound">
        <wsdl:part name="EqualityOfStrings" type="xsd:boolean"/>
    </wsdl:message>

    <wsdl:message name="RoundFloatSOAPInbound">
        <wsdl:part name="FloatToRound" type="xsd:double"/>
    </wsdl:message>
    <wsdl:message name="RoundFloatSOAPOutbound">
        <wsdl:part name="RoundingResult" type="xsd:int"/>
    </wsdl:message>

    <wsdl:message name="WhatIsNextDaySOAPInbound">
        <wsdl:part name="GivenDay" type="xsd:dateTime"/>
    </wsdl:message>
    <wsdl:message name="WhatIsNextDaySOAPOutbound">
        <wsdl:part name="NextDay" type="xsd:dateTime"/>
    </wsdl:message>

    <wsdl:portType name="BasicServicePort">
        <wsdl:operation name="GiveMeString">
            <wsdl:input message="tns:GiveMeStringSOAPInbound"/>
            <wsdl:output message="tns:GiveMeStringSOAPOutbound"/>
        </wsdl:operation>
        <wsdl:operation name="GiveMeInteger">
            <wsdl:input message="tns:GiveMeIntegerSOAPInbound"/>
            <wsdl:output message="tns:GiveMeIntegerSOAPOutbound"/>
        </wsdl:operation>
        <wsdl:operation name="GiveMeFloat">
            <wsdl:input message="tns:GiveMeFloatSOAPInbound"/>
            <wsdl:output message="tns:GiveMeFloatSOAPOutbound"/>
        </wsdl:operation>
        <wsdl:operation name="GiveMeBoolean">
            <wsdl:input message="tns:GiveMeBooleanSOAPInbound"/>
            <wsdl:output message="tns:GiveMeBooleanSOAPOutbound"/>
        </wsdl:operation>
        <wsdl:operation name="GiveMeDate">
            <wsdl:input message="tns:GiveMeDateSOAPInbound"/>
            <wsdl:output message="tns:GiveMeDateSOAPOutbound"/>
        </wsdl:operation>
        <wsdl:operation name="StringsAreEqual">
            <wsdl:input message="tns:StringsAreEqualSOAPInbound"/>
            <wsdl:output message="tns:StringsAreEqualSOAPOutbound"/>
        </wsdl:operation>
        <wsdl:operation name="RoundFloat">
            <wsdl:input message="tns:RoundFloatSOAPInbound"/>
            <wsdl:output message="tns:RoundFloatSOAPOutbound"/>
        </wsdl:operation>
        <wsdl:operation name="WhatIsNextDay">
            <wsdl:input message="tns:WhatIsNextDaySOAPInbound"/>
            <wsdl:output message="tns:WhatIsNextDaySOAPOutbound"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="BasicServiceBinding" type="tns:BasicServicePort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GiveMeString">
            <soap:operation soapAction="@@__URL__@@#GiveMeString"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GiveMeInteger">
            <soap:operation soapAction="@@__URL__@@#GiveMeString"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GiveMeFloat">
            <soap:operation soapAction="@@__URL__@@#GiveMeFloat"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GiveMeBoolean">
            <soap:operation soapAction="@@__URL__@@#GiveMeBoolean"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GiveMeDate">
            <soap:operation soapAction="@@__URL__@@#GiveMeDate"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="StringsAreEqual">
            <soap:operation soapAction="@@__URL__@@#StringsAreEqual"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RoundFloat">
            <soap:operation soapAction="@@__URL__@@#RoundFloat"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="WhatIsNextDay">
            <soap:operation soapAction="@@__URL__@@#WhatIsNextDay"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="BasicService">
        <wsdl:port name="BasicServicePort" binding="BasicServiceBinding">
            <soap:address location="@@__URL__@@"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>