js-soap-proxy-samples/arrays/ArraysService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions name="ArraysServiceDefs"
        targetNamespace="http://demiurg.orgfree.com/js-soap-proxy-samples/"
        xmlns:tns="http://demiurg.orgfree.com/js-soap-proxy-samples/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
                targetNamespace="http://demiurg.orgfree.com/js-soap-proxy-samples/">
            <xsd:complexType name="ArrayOfIds">
                <xsd:sequence>
                    <!-- NOTE: You MAY NOT change name="item" to something else when using PHP SOAP extension. -->
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ArrayOfIdGroups">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="tns:ArrayOfIds"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GiveMeIntArraySOAPInbound"/>
    <wsdl:message name="GiveMeIntArraySOAPOutbound">
        <wsdl:part name="GiveMeIntArrayReturnValue" type="xsd:int[]"/>
    </wsdl:message>

    <wsdl:message name="JoinArrayOfStringsSOAPInbound">
        <wsdl:part name="StringsToJoin" type="xsd:string[]"/>
    </wsdl:message>
    <wsdl:message name="JoinArrayOfStringsSOAPOutbound">
        <wsdl:part name="JoinedString" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="FilterInvalidIdsSOAPInbound">
        <wsdl:part name="IdsToFilter" type="tns:ArrayOfIds"/>
    </wsdl:message>
    <wsdl:message name="FilterInvalidIdsSOAPOutbound">
        <wsdl:part name="OnlyValidIds" type="tns:ArrayOfIds"/>
    </wsdl:message>

    <wsdl:message name="FilterInvalidIdsInGroupsSOAPInbound">
        <wsdl:part name="IdGroupsToFilter" type="tns:ArrayOfIdGroups"/>
    </wsdl:message>
    <wsdl:message name="FilterInvalidIdsInGroupsSOAPOutbound">
        <wsdl:part name="OnlyValidIdGroups" type="tns:ArrayOfIdGroups"/>
    </wsdl:message>

    <wsdl:message name="ReverseArraySOAPInbound">
        <wsdl:part name="ArrayToReverse" type="soapenc:Array"/>
    </wsdl:message>
    <wsdl:message name="ReverseArraySOAPOutbound">
        <wsdl:part name="ReversedArray" type="soapenc:Array"/>
    </wsdl:message>

    <wsdl:portType name="ArraysServicePort">
        <wsdl:operation name="GiveMeIntArray">
            <wsdl:input message="tns:GiveMeIntArraySOAPInbound"/>
            <wsdl:output message="tns:GiveMeIntArraySOAPOutbound"/>
        </wsdl:operation>
        <wsdl:operation name="JoinArrayOfStrings">
            <wsdl:input message="tns:JoinArrayOfStringsSOAPInbound"/>
            <wsdl:output message="tns:JoinArrayOfStringsSOAPOutbound"/>
        </wsdl:operation>
        <wsdl:operation name="FilterInvalidIds">
            <wsdl:input message="tns:FilterInvalidIdsSOAPInbound"/>
            <wsdl:output message="tns:FilterInvalidIdsSOAPOutbound"/>
        </wsdl:operation>
        <wsdl:operation name="FilterInvalidIdsInGroups">
            <wsdl:input message="tns:FilterInvalidIdsInGroupsSOAPInbound"/>
            <wsdl:output message="tns:FilterInvalidIdsInGroupsSOAPOutbound"/>
        </wsdl:operation>
        <wsdl:operation name="ReverseArray">
            <wsdl:input message="tns:ReverseArraySOAPInbound"/>
            <wsdl:output message="tns:ReverseArraySOAPOutbound"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ArraysServiceBinding" type="tns:ArraysServicePort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GiveMeIntArray">
            <soap:operation soapAction="@@__URL__@@#GiveMeIntArray"/>
            <wsdl:input>
                <!-- NOTE: such soap:body definition only is a MUST with PHP SOAP extension -->
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="JoinArrayOfStrings">
            <soap:operation soapAction="@@__URL__@@#JoinArrayOfStrings"/>
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="FilterInvalidIds">
            <soap:operation soapAction="@@__URL__@@#FilterInvalidIds"/>
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="FilterInvalidIdsInGroups">
            <soap:operation soapAction="@@__URL__@@#FilterInvalidIdsInGroups"/>
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ReverseArray">
            <soap:operation soapAction="@@__URL__@@#FilterInvalidIdsInGroups"/>
            <wsdl:input>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ArraysService">
        <wsdl:port name="ArraysServicePort" binding="ArraysServiceBinding">
            <soap:address location="@@__URL__@@"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>